<div class="jumbotron">
    <h1 class="display-4">TypeScript app</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, libero in porro incidunt magnam vel?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, repellat!</p>
    <a href="#" class="btn btn-primary btn-lg">Bienvenido</a>
</div>